body{
background: linear-gradient(135deg,#2c3e50,#3498db);
font-family:Arial;
text-align:center;
color:white;
}

.card{
background:rgba(255,255,255,0.1);
padding:20px;
width:400px;
margin:auto;
border-radius:12px;
backdrop-filter:blur(10px);
}

.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
}

.slot{
background:#27ae60;
padding:15px;
border:none;
color:white;
border-radius:8px;
}

.slot:hover{
background:#2ecc71;
}

button{
background:#e67e22;
border:none;
padding:12px;
border-radius:8px;
color:white;
}

.counter{
background:#1abc9c;
padding:10px;
border-radius:8px;
margin:10px;
}

#preview{
width:300px;
margin:10px;
}

#paymentAnimation{
display:none;
position:fixed;
top:40%;
left:40%;
background:white;
color:black;
padding:20px;
}

#ticket{
display:none;
background:white;
color:black;
padding:20px;
margin-top:20px;
}